<div class="container">

    <div class="card" *ngIf="plates; else productNotFound">
        <img  [src]="plates.img">
        <p class="card__p">Nombre: {{ plates.name }}</p>
        <p class="card__p">Descripción: {{ plates.description }}</p>
        <p class="card__p">Precio por Ración: {{ plates.price }}</p>
        <div class="card__ingredients">
            <h3 class="card__ingredients_h3">Tipo de Dieta: {{ plates.diets.name }}</h3>
            <img [src]="plates.diets.img">
            <p class="card__ingredients_description" *ngIf="plates.diets.description">{{ plates.diets.description }}</p>
        </div>
    </div>
    
    <div>
        <button 
        class="button"
        (click)="navigateToAtras()"
        >
        Atras
    </button> 
</div>

<ng-template #productNotFound>
    <p>No existe un producto con este id</p>
</ng-template>

</div>

