

    <div
        *ngIf="plates"
        class="plates"    
        >
            <img class="plates__img"  [src]="plates.img">
            <div class="card__content">
                <h3
                class="card__title">{{plates.name}}
            </h3>
            <p class="card__id">Tipo de Dieta: {{plates.diets.name}}</p>
            <p class="card__id"> Precio: {{plates.price}}</p>
    
            </div>
        <div class="button__card" >
            <button
                class="button" 
                (click)="navigateToDetail()"
                >Detalle
            </button>
            <button
                class="button"
                (click)="removePlates()"
                >Eliminar
            </button>
            <button
                class="button"
                (click)="editPlates()"
                >Editar
            </button>
        </div>
</div>

