<div>
    <button 
        *ngIf="isLogged" 
        class="button"
        (click)="navigateToLogout()"
        >
        Logout.
    </button> 
</div>
<div class="container">
    <div>
        <form class="login"
            *ngIf="loginForm"
            [formGroup]="loginForm"
            (submit)="loginUser()"
            >
            <input placeholder="Email" formControlName="email">
            <input placeholder="Contraseña" type="password" formControlName="password">
            <button class="button" type="submit">Login</button>
        </form>
        <p
        style="color: red;"
        *ngIf="formError"
        >{{ formError }}
        </p>
    </div>
    <div>
        <button 
            class="button"
            (click)="navigateToRegister()"
            >
            Registrate si no lo Estas.
        </button> 
    </div>
</div>
