.loginUser {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #fff06f;
    border-radius: 5px;
    color:#fff06f;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;   
}
.button:hover,
.button:focus {
    background-color:#fff06f;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.button:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
  