<div>
    <button 
        *ngIf="isLogged" 
        class="button"
        (click)="navigateToLogout()"
        >
        Logout.
    </button> 
</div>
<div class="container">

    <h1 class="home__h1">TUPPER TRUEKE </h1>
    <p>Descubre recetas en base al tipo de dieta que te guste, y ¡no repitas!.</p>
    <p class="home__p">¿Cómo funciona? Accede a todo tipo de recetas sin necesidad de registrarte. ¿Quieres subir tu propio contenido? Regístrate en menos de un minuto y sube todas las recetas que quieras. </p>
   
    
</div>